In [1]:
import os
import pandas as pd
import numpy as np
from datetime import timedelta

# Merge excel files
path = "pueblos_magicos.csv"

dataset_df = pd.read_csv(path, encoding = 'unicode_escape')

dataset_df

                  estado                municipio  ano_ingreso  id_edo
0         Aguascalientes         Real de Asientos         2006       1
1         Aguascalientes                 Calvillo         2012       1
2         Aguascalientes       San Jose de Gracia         2015       1
3        Baja California                   Tecate         2012       2
4    Baja California Sur             Todos Santos         2006       3
..                   ...                      ...          ...     ...
106            Zacatecas  Jerez de Garcia Salinas         2007      32
107            Zacatecas  Teul de Gonz lez Ortega         2011      32
108            Zacatecas               Sombrerete         2012      32
109            Zacatecas                    Pinos         2012      32
110            Zacatecas               Nochistlan         2012      32

[111 rows x 4 columns]

In [3]:
columns_titles = ["municipio","estado", "ano_ingreso","id_edo"]
dataset_df = dataset_df.reindex(columns=columns_titles)

dataset_df.reset_index(level=0, inplace=True)
dataset_df.rename(columns={'index': 'id', 'municipio': 'town', 'estado': 'state_mt', 'ano_ingreso': 'year', "id_edo":"id_state"}, inplace=True)
dataset_df

      id                     town             state_mt  year  id_state
0      0         Real de Asientos       Aguascalientes  2006         1
1      1                 Calvillo       Aguascalientes  2012         1
2      2       San Jose de Gracia       Aguascalientes  2015         1
3      3                   Tecate      Baja California  2012         2
4      4             Todos Santos  Baja California Sur  2006         3
..   ...                      ...                  ...   ...       ...
106  106  Jerez de Garcia Salinas            Zacatecas  2007        32
107  107  Teul de Gonz lez Ortega            Zacatecas  2011        32
108  108               Sombrerete            Zacatecas  2012        32
109  109                    Pinos            Zacatecas  2012        32
110  110               Nochistlan            Zacatecas  2012        32

[111 rows x 5 columns]

In [4]:
#Lest change to upper case the state
  
dataset_df['state_mt'] = dataset_df['state_mt'].str.upper() 
dataset_df

      id                     town             state_mt  year  id_state
0      0         Real de Asientos       AGUASCALIENTES  2006         1
1      1                 Calvillo       AGUASCALIENTES  2012         1
2      2       San Jose de Gracia       AGUASCALIENTES  2015         1
3      3                   Tecate      BAJA CALIFORNIA  2012         2
4      4             Todos Santos  BAJA CALIFORNIA SUR  2006         3
..   ...                      ...                  ...   ...       ...
106  106  Jerez de Garcia Salinas            ZACATECAS  2007        32
107  107  Teul de Gonz lez Ortega            ZACATECAS  2011        32
108  108               Sombrerete            ZACATECAS  2012        32
109  109                    Pinos            ZACATECAS  2012        32
110  110               Nochistlan            ZACATECAS  2012        32

[111 rows x 5 columns]

In [5]:
dataset_df.to_csv('../data/magic_town.csv', index = False)