# Generating an id for the states.

In this notebook it is created a dataframe that is going to contain the abreviation of the states name, the name and a number that is going to work as a primary key.
This is necesarry, cince in all of our data the names of the states are writen differet.

In [1]:
import pandas as pd

In [4]:
#Lets call the rain df
states = pd.read_csv("states_abbreviation.csv")
states.head()

  abbr_state                state
0        AGS       AGUASCALIENTES
1         BC      BAJA CALIFORNIA
2        BCS  BAJA CALIFORNIA SUR
3       CAMP             CAMPECHE
4       CHIH            CHIHUAHUA

In [6]:
#lETS order by name
states.sort_values(by=['state'], inplace=True)
states

   abbr_state                state
0         AGS       AGUASCALIENTES
1          BC      BAJA CALIFORNIA
2         BCS  BAJA CALIFORNIA SUR
3        CAMP             CAMPECHE
5        CHIS              CHIAPAS
4        CHIH            CHIHUAHUA
8          DF     CIUDAD DE MEXICO
6        COAH             COAHUILA
7         COL               COLIMA
9         DGO              DURANGO
14        MEX     ESTADO DE MEXICO
11        GTO           GUANAJUATO
10        GRO              GUERREO
12        HGO              HIDALGO
13        JAL              JALISCO
15       MICH            MICHOACAN
16        MOR              MORELOS
17        NAY              NAYARIT
18         NL           NUEVO LEON
19        OAX               OAXACA
20        PUE               PUEBLA
21        QRO            QUERETARO
22       QROO         QUINTANA ROO
24        SLP      SAN LUIS POTOSI
23        SIN              SINALOA
25        SON               SONORA
26        TAB              TABASCO
27       TAMS           TAMAULIPAS
28       TLAX             TLAXCALA
29        VER             VERACRUZ
30        YUC              YUCATAN
31        ZAC            ZACATECAS

In [7]:
#Lets create a numeric id
seq_s = [i+1 for i in  range(32)]
#Lets add it to the df
states['id_state'] = seq_s
#call the df
states

   abbr_state                state  id_state
0         AGS       AGUASCALIENTES         1
1          BC      BAJA CALIFORNIA         2
2         BCS  BAJA CALIFORNIA SUR         3
3        CAMP             CAMPECHE         4
5        CHIS              CHIAPAS         5
4        CHIH            CHIHUAHUA         6
8          DF     CIUDAD DE MEXICO         7
6        COAH             COAHUILA         8
7         COL               COLIMA         9
9         DGO              DURANGO        10
14        MEX     ESTADO DE MEXICO        11
11        GTO           GUANAJUATO        12
10        GRO              GUERREO        13
12        HGO              HIDALGO        14
13        JAL              JALISCO        15
15       MICH            MICHOACAN        16
16        MOR              MORELOS        17
17        NAY              NAYARIT        18
18         NL           NUEVO LEON        19
19        OAX               OAXACA        20
20        PUE               PUEBLA        21
21        QRO            QUERETARO        22
22       QROO         QUINTANA ROO        23
24        SLP      SAN LUIS POTOSI        24
23        SIN              SINALOA        25
25        SON               SONORA        26
26        TAB              TABASCO        27
27       TAMS           TAMAULIPAS        28
28       TLAX             TLAXCALA        29
29        VER             VERACRUZ        30
30        YUC              YUCATAN        31
31        ZAC            ZACATECAS        32

In [9]:
#Lets save it
states.to_csv('../data/states_ids.csv', index = False)